body {
    background-color: gray;
    display: flex;
    justify-content: center;
}

.container-clock {
    width: 90vw;
    margin: .5em .5em .5em 1em;
    padding: 1em;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-row {
        padding-bottom: .5em;
    }
    .settings-row {
        justify-content: space-between;
        padding-bottom: .5em;
        .settings-label {
            padding: .5em;
        }
        .timer-label {
            text-align: center; 
        }
    }
    .display-row {
        padding-bottom: .5em;
    }
}

@media screen and (min-width: 600px) {
    .container-clock {
        width: 50vw;
        margin: 3em;
    }
}

@media screen and (min-width: 900px) {
    .container-clock {
        width: 40vw;
    }
}

@media screen and (min-width: 1200px) {
     .container-clock {
        width: 30vw;
        margin: 5em;
    } 
}

@media screen and (min-width: 1800px) {
    .container-clock {
        font-size: 2em;
        .inc-dec {
            padding: 2em;
        }
    }
}